# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
deploy/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Docker volumes (если появятся локально)
postgres_data/


# Python
__pycache__/
*.pyc

# Virtual env
deploy/
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store